.button_blue {
    display: inline-block;
    border-radius: 4px;
    background-color: #4959a0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    height: 25px;
}

.button_blue span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_blue span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_blue:hover span {
    padding-right: 25px;
}

.button_blue:hover span:after {
    opacity: 1;
    right: 0;
}

.button_red {
    display: inline-block;
    border-radius: 4px;
    background-color: #a04949;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
    height: 25px;
}

.button_red span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_red span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_red:hover span {
    padding-right: 25px;
}

.button_red:hover span:after {
    opacity: 1;
    right: 0;
}