.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 402px;
}

.u-section-1 .u-group-1 {
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 322px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2;
  margin: 20px 630px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2;
  margin: -180px 0 0 630px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-2 {
  left: 556px;
  top: 87px;
  transform-origin: center top 0px;
  position: absolute;
  height: 180px;
  width: 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-right: 430px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 210px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 70px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-line-1 {
  margin-top: 41px;
  margin-bottom: 0;
  transform-origin: left center 0px;
  margin-left: 0;
}

.u-section-2 .u-form-1 {
  margin-top: 40px;
  margin-bottom: 0;
  height: 269px;
  margin-left: 0;
}

.u-section-2 .u-input-1 {
  text-transform: none;
}

.u-section-2 .u-input-2 {
  text-transform: none;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 30%;
  padding: 5px 32px 6px 30px;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-group-1 {
  width: 840px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 157px;
  height: auto;
  margin: 40px auto 41px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    height: 3px;
    margin-left: initial;
  }

  .u-section-2 .u-form-1 {
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}